body {
    /*font-family: "Arial";*/
    /*background-color: black;*/
    /*color: white;*/
}

.wd-search-tuiter {
    bottom: 7px;
    left: 10px;
}

.wd-nav-tabs {
    width: 100%;
    color: rgb(29,161,242);
    padding: 0px;
}

.wd-nav-tabs li {
    list-style-type: none;
    display: inline-block;
}

.wd-nav-tabs .wd-selected {
    border-bottom: solid 4px rgb(29,161,242);
}

.wd-explore-bg-color
{background-color: black;}

/*override*/
.list-group-item.wd-bg-color {
    background-color: black;
}

.list-group-item.border-main {
    border: solid 1px;
    border-color: rgb(47, 51, 54);
    border-right: none;
    border-left:none;
}
/*override*/
.list-group-item.active {
    border: none;
    font-weight: bolder;
}
/*override*/
.fa-inverse {
    color: lightgray;
}

.wd-word-color {
    color: lightgray;
}
/*override*/
.btn-primary.override-bs {
    border-radius: 40px;
    width: 100%;
    background-color: dodgerblue;
    height: 60px;

}
/*override*/
.btn-primary.follow-button{
    border-radius: 20px;
    width: 50%;
    height: 80%;
    float: right;
    background-color: white;
    color: black;
    font-weight: bolder;
    border: none;
}

.wd-bar-icon {
    float: left;
    font-size: 12pt;
    font-family: Helvetica;
}

.form-control.search-bar {
    width: 100%;
    height: 10px;
    border-radius: 20px;
    padding-left: 50px;
    background-color: rgb(47,51,54);
    border: none;
    color: white;
    box-shadow: none;
}

.wd-magnifying-glass {
    position: absolute;
    padding-bottom: 10pt;
    margin-bottom: 10pt;
    color: rgb(110, 118, 125);
}

.wd-follow-ava {
    border-radius: 50%;
    position: relative;
    height: 50px;
    width: 50px;
}

.wd-verify-mark {
    border-radius: 70px;
    height: 18px;
    width: 18px;
}

.wd-bold-letter {
    font-weight: bold;
    color: lightgray;
    font-size: 9pt;
    font-family: Helvetica;
}

.form-control.search-bar {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    padding-left: 50px;
    background-color: rgb(47,51,54);
    border: none;
    color: white;
    box-shadow: none;
}

.wd-post-image {
    float:right;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.wd-time-text{
    font-family: "Helvetica";
    color: rgb(110, 118, 125);
    font-size: 12pt;
}

.wd-main-bold-letter {
    font-weight: bold;
    color: lightgray;
    font-size:12pt;
    font-family: Helvetica;
}

.wd-topic-color {
    font-family: "Helvetica";
    color: rgb(110, 118, 125);
    font-size: 16px;
}

.wd-magnifying-glass {
    position: absolute;
    margin-left: 20px;
    top: 26px;
    color: rgb(110, 118, 125);
}

.wd-cog {
    float:right;
}

.wd-words-on-cover {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 300%;
    margin-left: 1%;
    bottom: 5px;
}


.row.image-container {
    position: relative;
}

/*.wd-bar-icon {*/
/*    float: left;*/
/*}*/

.wd-follow-name {
    white-space: nowrap;
    z-index: 1;
}

.nav-link {
    color: rgb(110, 118, 125);
    font-weight: bold;
    font-size: 12pt;
}

.wd-account-tag-color {
    color: rgb(110, 118, 125);
}

.wd-follow-section {
    background-color: rgb(47, 51, 54);
}

.wd-follow-header {
    font-size: larger;
}

.list-group.border-follow {
    border-color: rgb(110, 118, 125);
    border-radius: 20px;
}

.list-group.border-main {
    border: solid 1px;
    border-color: rgb(47, 51, 54);
}

.list-group-item.no-margin {
    margin-left: 0px;
    margin-right: 0px;
}

.wd-navi-tab {
    font-size: larger;
    font-family: Helvetica;
}

.navbar-nav .active {
    border-bottom: 5px solid dodgerblue;
    color: lightgray;
}

.wd-explore-placeholder {
    font-size: 12pt;
    font-family: Helvetica;
}

.wd-main-tuit-box {
    border: 10px rgb(47,51,54) solid;
    border-top: none;
    border-right: white;
    border-left: white;
    border-bottom: white;
    padding: 0px;
    margin: 0pt;
}

.wd-padding-text{
    padding-left: 9pt;
    padding-right: 0pt;
}